@import "reset";
@import "colors-settings";
@import "_grid";
@import "bootstrap";
@import "_flex-mixins";
@import "header";
@import "front-articles";
@import "single-page";
@import "hacks";


// colors

	
	// default / mobile 

	body {
		font-family:'Roboto','Nunito', 'Arial';
		font-size:$fontSize;
		color:$white;
	}

	p.footer-category {
		display: none;
	}
	.footer {
		display: none; // this is temp until I do somthing interesting with the footer
	}
	
	#container, .header {
		background-color: $headerBlue;
	}

	#content {
		margin-top: 0;
		line-height:2em;
		background-color: #ece8b2;
	}
	.wrap {
		width: 100%;
		margin:0 auto;
	} 

	#main {
		.hero-text {
			margin: 0 15px;
			.brief {
				font-weight: 700;
				font-size:$fontSize*1.3;
				padding:20px;
				background-color:$briefYel;
				text-transform: uppercase;
				border-bottom: $botttomBorder;
			}
			.introduction {
				padding:40px 20px;
				background-color:#7cd3c6;
				border-bottom: $botttomBorder;
			}
		}
	} // end main



// end default / mobile


// // // // //     TABLET     // // // // //  
@media (min-width: 640px) {
	
	
	#main {
		.hero-text {
			position: relative;
			.brief {
				font-size:$fontSize*1.5;;
				padding:40px;
			}
			.introduction {
				padding:40px;
			}
		}	
		

 	} // end #main


} // END tablet
	

// START desktop
@media (min-width: 980px) {

	.wrap {
		width: 960px;
	} 


	#main {
		.hero-text {

			.brief {
				font-size:$fontSize*1.5;
				line-height: 1.2em;
				padding: 80px;
			}
			.introduction {
				padding: 80px;
			}
		}
	} // END #main

} // END desktops


// fixing ie edge and 10

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#main {
	    .category-text-img, .category-text-full, .category-text-half, .category-img, article.category-extra, article .entry-content { 
	    	display:block; // fix container not wrapping fully round
	    }
	}  

}